<# /*
This file is part of ArgusLib
Copyright (C) 2017 Tobias Meyer
License: Microsoft Reciprocal License (MS-RL)
*/ #>
<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ output extension=".g.cs" #>
<# // ------------------------------------------------------ Code Start ------------------------------------------------------
string[,] Constants = { { "Log2_10",		"3.3219280948873623478703194294894",	"Log2(10)" },
						{ "Log10_2",		"0.30102999566398119521373889472449",	"Log10(2)" },
						{ "Ln2",			"0.69314718055994530941723212145818",	"Ln(2)" },
						{ "Ln10",			"2.3025850929940456840179914546844",	"Ln(10)" },
						{ "LnTwoPi",		"1.8378770664093454835606594728112",	"Ln(2 * Pi)" },
						{ "Q_LnTwoPi_2",	"0.91893853320467274178032973640562",	"1 / Ln(2 * Pi)" },
						{ "Pi",				"3.1415926535897932384626433832795",	"Pi" },
						{ "PiSquared",		"9.8696044010893586188344909998762",	"Pi ^ 2" },
						{ "TwoPi",			"6.283185307179586476925286766559",		"2 * Pi" },
						{ "ThreePi",		"9.4247779607693797153879301498385",	"3 * Pi" },
						{ "FourPi",			"12.566370614359172953850573533118",	"4 * Pi" },
						{ "Q_Pi_2",			"1.5707963267948966192313216916398",	"Pi / 2" },
						{ "Q_Pi_3",			"1.0471975511965977461542144610932",	"Pi / 3" },
						{ "Q_Pi_4",			"0.78539816339744830961566084581988",	"Pi / 4" },
						{ "Pi_R",			"0.31830988618379067153776752674503",	"1 / Pi" },
						{ "TwoPi_R",		"0.15915494309189533576888376337251",	"1 / (2 * Pi)" },
						{ "ThreePi_R",		"0.10610329539459689051258917558168",	"1 / (3 * Pi)" },
						{ "FourPi_R",		"0.07957747154594766788444188168626",	"1 / (4 * Pi)" },
						{ "Q_180_Pi",		"57.295779513082320876798154814105",	"180 / Pi" },
						{ "Q_Pi_180",		"0.01745329251994329576923690768489",	"Pi / 180" },
						{ "SqrtPi",			"1.7724538509055160272981674833411",	"Sqrt(Pi)" },
						{ "SqrtTwoPi",		"2.506628274631000502415765284811",	"Sqrt(2 * Pi)" },
						{ "SqrtPi_R",		"0.56418958354775628694807945156077",	"1 / Sqrt(Pi)" },
						{ "SqrtTwoPi_R",	"0.39894228040143267793994605993438",	"1 / Sqrt(2 * Pi)" },
						{ "e",				"2.7182818284590452353602874713527",	"Euler's constant" },
						{ "eSquared",		"7.389056098930650227230427460575",		"e ^ 2" },
						{ "e_R",			"0.36787944117144232159552377016146",	"1 / e" },
						{ "eSquared_R",		"0.13533528323661269189399949497248",	"e ^ -2" },
						{ "Sqrt2",			"1.4142135623730950488016887242097",	"Sqrt(2)" },
						{ "Sqrt2_R",		"0.70710678118654752440084436210485",	"1 / Sqrt(2)" },
						{ "Sqrt3",			"1.7320508075688772935274463415059",	"Sqrt(3)" },
						{ "Q_1_360",		"0.00277777777777777777777777777778",	"1 / 360" } };
string[,] Types = { { "double", "" }, { "float", "F" }, { "decimal", "M" } };
// --------------------------------------------------------- Code End ----------------------------------------------------- #>
#region Copyright and License
/*
This file is part of ArgusLib.
Copyright (C) 2017 Tobias Meyer
License: Microsoft Reciprocal License (MS-RL)
*/
#endregion

// AUTOGENERATED
// DO NOT MODIFY
namespace ArgusLib
{
	public static partial class Constants
	{

<# // ------------------------------------------------------ Code Start ------------------------------------------------------
for (int i = 0; i < Constants.GetLength(0); i++)
{
	string Name = Constants[i, 0];
	string Value = Constants[i, 1];
	string Description = Constants[i, 2];
// --------------------------------------------------------- Code End ----------------------------------------------------- #>
		#region <#=Description#>

<# // ------------------------------------------------------ Code Start ------------------------------------------------------
	for (int k = 0; k < Types.GetLength(0); k++)
	{
		string Type = Types[k, 0];
		string Suffix = Types[k, 1];
// --------------------------------------------------------- Code End ----------------------------------------------------- #>
		/// <summary><#=Description#></summary>
		public const <#=Type#> <#=Name#><#=Suffix#> = <#=Value#><#=Suffix#>;

<# // ------------------------------------------------------ Code Start ------------------------------------------------------
	}
// --------------------------------------------------------- Code End ----------------------------------------------------- #>
		#endregion

<# // ------------------------------------------------------ Code Start ------------------------------------------------------
}
// --------------------------------------------------------- Code End ----------------------------------------------------- #>
	}
}